.footer {
  min-height: 596px;
  margin-top: 50px;
  position: relative;
}

.footer__block {
  display: grid;
  grid-template-columns: 3fr 2fr;
  position: absolute;
  height: 101%;
  width: 100%;
  top: 0;
  left: 0;
}

.footer__background {
  position: relative;
  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: #2c2c2c81;
    z-index: -1;
  }

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: url("../img/main/bg_map.png") top 25% right 25% / 153% auto
      no-repeat;
    z-index: -2;
  }
}

.footer__map {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

.footer__map iframe {
  width: 100%;
  height: 100%;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  color: var(--black);
  position: relative;
  width: 61%;
}

.footer__title {
  font-size: clamp(120px, 8.333vw, 116px);
  font-weight: 700;
  line-height: 104%;
  max-width: 785px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 85px;
}

.footer__logo {
  max-width: 133px;
  object-fit: contain;
}

.footer__items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 785px;
  width: 100%;
  position: relative;
}
.footer__item {
  font-size: clamp(20px, 1.823vw, 35px);
  font-weight: 600;
  line-height: 104%;
}

.footer__socials {
  display: flex;
  gap: clamp(15px, 1.265vw, 21px);
}
.footer__soc {
  display: inline-block;
  width: clamp(37px, 2.952vw, 49px);
  height: clamp(37px, 2.952vw, 49px);
}
.footer__soc svg {
  width: 100%;
  height: 100%;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 17px;
}

.footer__year {
  font-size: 14px;
}

.footer__copyright {
  font-size: 14px;
}

.footer__copyright bold {
  font-weight: bold;
  text-transform: uppercase;
}

/* Responsive */
@media (max-width: 1660px) {
  .footer {
    min-height: 490px;
  }
  .footer__info {
    width: 60%;
  }
  .footer__links {
    margin-top: 60px;
  }
}
@media (max-width: 1400px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  .footer__block {
    display: flex;
  }

  .footer__background {
    height: 100%;
    width: 100%;
    &::before {
      background: url("../img/main/bg_map.png") top 12% right 33% / auto 205%
        no-repeat;
    }
  }

  .footer__map {
    height: 256px;
    position: absolute;
    bottom: 46px;
    width: 100%;
  }

  .footer__info {
    width: 100%;
    gap: 0;
  }

  .footer__title {
    flex-direction: row-reverse;
    font-size: clamp(50px, 13.889vw, 70px);
    margin: 0;
    margin-bottom: 48px;
    justify-content: flex-end;
  }

  .footer__logo {
    max-width: 70px;
  }

  .footer__items{
    margin-bottom: 36px;
  }

  .footer__socials {
    margin-bottom: 300px;
  }

  .footer__links {
    margin: 0;
  }
}
