* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 89%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
li,
ol {
  list-style: none;
  list-style-position: outside;
}

input,
button,
select {
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

[hidden] {
  display: none !important;
}
.show {
  display: flex !important;
}

body {
  font-family: "Open Sans";
  background: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 360px;
  position: relative;
  scroll-behavior: smooth;
}

.js-alert {
  position: relative;
  z-index: 99999999999999999999;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.js-alert div {
  font-weight: 600;
  font-size: clamp(16px, 2.5vw, 48px);
  text-align: center;
}

.js-alert a {
  font-weight: 600;
  font-size: clamp(12px, 2.169vw, 36px);
  color: var(--red);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
}

.country {
  --flag-size: 34px;
  --flag-padding: 6px;
  --padding: 11px;
  height: var(--flag-size);
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  padding-left: calc(var(--flag-size) + var(--flag-padding));
  padding-right: var(--padding);
  background: var(--white);
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    scale: 1.02;
    border-radius: 50%;
    width: var(--flag-size);
    height: 100%;
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    scale: 0;
    top: 0;
    left: 0;
  }

  a {
    z-index: 5;
  }
  &:hover:not(._world) {
    a {
      color: transparent; /* финт ушами */
      scale: 9; /* финт ушами */
    }
    &::after {
      z-index: 3;
      scale: 1.02;
    }
  }
}

.category-rus ._ru:not(.post__country) {
  a {
    color: transparent; /* финт ушами */
    scale: 9; /* финт ушами */
  }
  &::after {
    z-index: 3;
    scale: 1.02;
  }
}
.category-kgz ._kg:not(.post__country) {
  a {
    color: transparent; /* финт ушами */
    scale: 9; /* финт ушами */
  }
  &::after {
    z-index: 3;
    scale: 1.02;
  }
}
.category-kz ._kz:not(.post__country) {
  a {
    color: transparent; /* финт ушами */
    scale: 9; /* финт ушами */
  }
  &::after {
    z-index: 3;
    scale: 1.02;
  }
}
.category-uzb ._uz:not(.post__country) {
  a {
    color: transparent; /* финт ушами */
    scale: 9; /* финт ушами */
  }
  &::after {
    z-index: 3;
    scale: 1.02;
  }
}
.category-taj ._taj:not(.post__country) {
  a {
    color: transparent; /* финт ушами */
    scale: 9; /* финт ушами */
  }
  &::after {
    z-index: 3;
    scale: 1.02;
  }
}

._taj {
  &::after {
    background: url("../img/common/taj_flag.png") no-repeat center / cover;
  }
  &::before {
    background: url("../img/common/tj_ico.png") no-repeat center / cover;
  }
}
._ru {
  &::after {
    background: url("../img/common/ru_flag.png") no-repeat center / cover;
  }
  &::before {
    background: url("../img/common/rus_ico.png") no-repeat center / cover;
  }
}
._kg {
  &::after {
    background: url("../img/common/kg_flag.png") no-repeat center / cover;
  }
  &::before {
    background: url("../img/common/kg_ico.png") no-repeat center / cover;
  }
}
._uz {
  &::after {
    background: url("../img/common/uz_flag.png") no-repeat center / cover;
  }
  &::before {
    background: url("../img/common/uz_ico.png") no-repeat center / cover;
  }
}
._kz {
  &::after {
    background: url("../img/common/kz_flag.png") no-repeat center / cover;
  }
  &::before {
    background: url("../img/common/kz_ico.png") no-repeat center / cover;
  }
}

._world {
  &::before {
    background: url("../img/common/world_ico.png") no-repeat center / cover;
  }
}

.theme {
  --ico-width: 20px;
  --ico-padding: 6px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 50px;
  padding: 0 21px;
  background: transparent;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  &::before {
    padding-right: var(--ico-padding);
    width: var(--ico-width);
    height: auto;
    margin: auto 0;
  }
}

._business {
  &:not(.post__theme):hover {
    background: var(--red);
    border-color: var(--red);
  }
  &::before {
    content: url("../img/common/business_w.svg");
  }
}
._tourism {
  &:not(.post__theme):hover {
    background: var(--cyan);
    border-color: var(--cyan);
  }
  &::before {
    content: url("../img/common/tourism_w.svg");
  }
}
._culture {
  &:not(.post__theme):hover {
    background: var(--pink);
    border-color: var(--pink);
  }
  &::before {
    content: url("../img/common/culture_w.svg");
  }
}
._science {
  &:not(.post__theme):hover {
    background: var(--blue);
    border-color: var(--blue);
  }
  &::before {
    content: url("../img/common/science_w.svg");
  }
}
._sport {
  &:not(.post__theme):hover {
    background: var(--green);
    border-color: var(--green);
  }
  &::before {
    content: url("../img/common/sport_w.svg");
  }
}
._society {
  &:not(.post__theme):hover {
    background: var(--yellow);
    border-color: var(--yellow);
  }
  &::before {
    content: url("../img/common/society_w.svg");
  }
}
._apk {
  &:not(.post__theme):hover {
    background: var(--brown);
    border-color: var(--brown);
  }
  &::before {
    content: url("../img/common/apk_w.svg");
  }
}
._edu {
  &:not(.post__theme):hover {
    background: var(--sky);
    border-color: var(--sky);
  }
  &::before {
    content: url("../img/common/edu_w.svg");
  }
}
._history {
  &:not(.post__theme):hover {
    background: var(--purple);
    border-color: var(--purple);
  }
  &::before {
    content: url("../img/common/history_w.svg");
  }
}
._stars {
  &:not(.post__theme):hover {
    background: var(--gray);
    border-color: var(--gray);
  }
  &::before {
    content: url("../img/common/stars_w.svg");
  }
}

/* Responsive */

@media (max-width: 1660px) {
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1025px) {
  .container {
    max-width: unset;
    padding: 10px;
    min-width: 340px;
  }
}
