.post {
  max-width: 100%;
  padding: 45px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 30px;
  box-shadow: var(--shadow);
  &[data-stars] {
    min-height: 1287px;
    background: var(--gray);
    color: var(--white);
  }
}
.post__image {
  max-width: 924px;
  height: 334px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 38px;
  background-color: gray;
}
.post__date {
  font-size: 21px;
  margin-bottom: 10px;
}
.post__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 48px;
}
[data-stars] .post__title {
  font-size: 40px;
  margin-bottom: 30px;
}
[data-stars] .post__btn {
  border-color: var(--white);
  &:hover {
    color: var(--gray);
    background: var(--white);
  }
}
.post__btn {
  width: 100%;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 84px;
  font-size: 30px;
  font-weight: 700;
  border: 2px solid var(--black);
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    background: var(--black);
    color: var(--white);
  }
}
.post__tags {
  display: flex;
  gap: 20px;
}

.post__tag {
  width: fit-content;
  height: 47px;
  border-radius: 23px;
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);

  &:hover {
    border: none !important;
  }
}

.post__category {
  --flag-padding: 7px;
  --flag-size: 46px;
  --padding: 23px;
  height: 47px;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  background: var(--black);
}

.post p {
  font-size: 18px;
  line-height: 110%;
  flex-grow: 1;
}

[data-stars] .post-content {
  flex-grow: 1;
}

[data-stars] .post-content p {
  font-size: 25px;
  line-height: 110%;
  flex-grow: 1;
}
