.stars {
  height: 100%;
}

.filter-stars {
}
.filter-stars__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 40px;
}

.post-star {
  width: 48%;
  border-radius: 30px;
  border: 5px solid var(--gray);
  display: flex;
  flex-direction: column;
  padding: 32px 43px;
  min-height: 950px;
}
.post-star__image {
  margin-bottom: 11px;
  max-height: 350px;
  border-radius: 20px;
  overflow: hidden;
}
.post-star__image img {
  object-position: top;
}
.post-star__date {
  margin-bottom: 31px;
  font-size: 21px;
}
.post-star__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 101%;
  color: var(--gray);
}
.post-star > p {
  margin-bottom: 36px;
  font-size: 25px;
  line-height: 101%;
  flex-grow: 1;
}

@media (max-width: 1660px) {
}

@media (max-width: 1400px) {
  .post-star {
    padding: 20px 30px;
    min-height: 750px;
  }

  .post-star__date {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .post-star__name {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .post-star > p {
    margin-bottom: 25px;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .post-star {
    width: 100%;
    padding: 12px;
    min-height: fit-content;
  }

  .post-star__date {
    margin-bottom: 10px;
    font-size: clamp(12px, 1.367vw, 16px);
  }

  .post-star__name {
    margin-bottom: 10px;
    font-size: clamp(22px, 3.125vw, 32px);
  }

  .post-star > p {
    margin-bottom: 15px;
    font-size: clamp(15px, 1.953vw, 20px);
  }
}
