.themes {
  margin: 110px 0;
  display: none;
}

.themes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 36px 10px;
}

.themes .theme {
  --ico-width: 35px;
  --ico-padding: 10px;
  flex-grow: 1;
  height: 82px;
  border-width: 2px;
  border-color: var(--black);
  color: var(--black);
  font-size: 29px;
  padding: 0 45px;
  border-radius: 41px;
  &:hover {
    color: var(--white);
  }
}

.themes ._business {
  &::before {
    content: url("../img/common/business.svg");
  }
  &:hover {
    border-color: var(--red);
    &::before {
      content: url("../img/common/business_w.svg");
    }
  }
}
.themes ._tourism {
  &::before {
    content: url("../img/common/tourism.svg");
  }
  &:hover {
    border-color: var(--cyan);
    &::before {
      content: url("../img/common/tourism_w.svg");
    }
  }
}
.themes ._culture {
  &::before {
    content: url("../img/common/culture.svg");
  }
  &:hover {
    border-color: var(--pink);
    &::before {
      content: url("../img/common/culture_w.svg");
    }
  }
}
.themes ._science {
  &::before {
    content: url("../img/common/science.svg");
  }
  &:hover {
    border-color: var(--blue);
    &::before {
      content: url("../img/common/science_w.svg");
    }
  }
}
.themes ._sport {
  &::before {
    content: url("../img/common/sport.svg");
  }
  &:hover {
    border-color: var(--green);
    &::before {
      content: url("../img/common/sport_w.svg");
    }
  }
}
.themes ._society {
  &::before {
    content: url("../img/common/society.svg");
  }
  &:hover {
    border-color: var(--yellow);
    &::before {
      content: url("../img/common/society_w.svg");
    }
  }
}
.themes ._apk {
  &::before {
    content: url("../img/common/apk.svg");
  }
  &:hover {
    border-color: var(--brown);
    &::before {
      content: url("../img/common/apk_w.svg");
    }
  }
}
.themes ._edu {
  &::before {
    content: url("../img/common/edu.svg");
  }
  &:hover {
    border-color: var(--sky);
    &::before {
      content: url("../img/common/edu_w.svg");
    }
  }
}
.themes ._history {
  &::before {
    content: url("../img/common/history.svg");
  }
  &:hover {
    border-color: var(--purple);
    &::before {
      content: url("../img/common/history_w.svg");
    }
  }
}
.themes ._stars {
  &::before {
    content: url("../img/common/stars.svg");
  }
  &:hover {
    border-color: var(--gray);
    &::before {
      content: url("../img/common/stars_w.svg");
    }
  }
}

/* Responsive */

@media (max-width: 1660px) {
  .themes {
    margin:  30px 0;
  }
  
  .themes__list {
    gap: 10px 5px;
  }

  .themes .theme {
    --ico-width: 25px;
    --ico-padding: 10px;
    height: 60px;
    font-size: 23px;
    padding: 0 45px;
  }
}

@media (max-width: 1400px) {
  .themes {
    margin: 30px 0;
    display: block;
  }
  .themes .theme {
    --ico-width: 20px;
    --ico-padding: 5px;
    height: 40px;
    font-size: 14px;
    padding: 0 20px;
  }

  .themes__list{
    gap: 10px 10px;
  }
}

@media (max-width: 360px) {
  .themes {
    margin: 0;
  }
  .themes__list {
    gap: 16px 5px;
  }

  .themes__list .theme {
    max-width: 164px;
    width: 100%;
    height: 40px;
    font-size: 13.7px;
  }
  .themes__list ._history,
  .themes__list ._stars {
    max-width: 100%;
  }
}
