.top {
  background-color: #cad4d8;
  background-image: url("../img/main/main__bg.png");
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.category-kgz .top {
  background-color: #cad4d8;
  background-image: url("../img/top/bishkek_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.category-taj .top {
  background-color: #cad4d8;
  background-image: url("../img/top/dushanbe_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.category-kz .top {
  background-color: #cad4d8;
  background-image: url("../img/top/astana_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.category-uzb .top {
  background-color: #cad4d8;
  background-image: url("../img/top/toshkent_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.tag .top {
  /* yt elfkznm  */
  /* background: linear-gradient(
      119.95deg,
      #ffffff80 -7.046%,
      #dbe2e580 32.887%,
      #c3ced380 56.846%,
      #bfcacf80 62.551%,
      #b2bcc180 86.51%,
      #adb7bc80 107.047%
    ),
    rgb(0, 0, 0), url("../img/top/tag-bg.png"); */
  background: none;
  color: var(--white);
  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: #000000a3;
    z-index: -1;
  }

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: url("../img/top/tag-bg.png") center / cover no-repeat;
    z-index: -2;
  }
}

.top__inner {
  min-height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  position: relative;
  padding-bottom: 85px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
  }
}
.top__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  width: 59%;
}
.top__title {
  font-weight: 700;
  font-size: clamp(110px, 7.739vw, 170px);
  line-height: 110%;
}
.top__subtitle {
  font-size: 35px;
  font-size: clamp(20px, 1.823vw, 45px);
  line-height: 110%;
}

.top__country {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.top .country {
  --flag-size: 80px;
  --flag-padding: 13px;
  --padding: 23px;
  background: var(--black);
  color: var(--white);
  font-size: 31px;
  border-radius: 84px;
}

.tag .top .country {
  background: var(--white);
  color: var(--black);
}

.tag-business .top__inner {
  &::before {
    background: url("../img/top/business.png") bottom 0 right 0 / auto 91%
      no-repeat;
  }
}
.tag-tourism .top__inner {
  &::before {
    background: url("../img/top/tourism.png") top 0 right 0 / contain no-repeat;
    bottom: -15%;
    height: 115%;
  }
}
.tag-culture .top__inner {
  &::before {
    background: url("../img/top/culture.png") top 0 right 0 / contain no-repeat;
    bottom: 20%;
    left: 25%;
  }
}
.tag-science .top__inner {
  &::before {
    background: url("../img/top/science.png") top 0 right 0 / contain no-repeat;
    height: 110%;
  }
}
.tag-sport .top__inner {
  &::before {
    background: url("../img/top/sport.png") top 0 right 0 / contain no-repeat;
    height: 140%;
    left: 15%;
    top: 0;
  }
}
.tag-society .top__inner {
  &::before {
    background: url("../img/top/society.png") top 0 right 0 / contain no-repeat;
    height: 65%;
    left: 5%;
  }
}
.tag-edu .top__inner {
  &::before {
    background: url("../img/top/edu.png") top 0 right 0 / contain no-repeat;
    height: 80%;
    bottom: 0px;
    left: 5%;
  }
}
.tag-history .top__inner {
  &::before {
    background: url("../img/top/history.png") top 0 right 0 / contain no-repeat;
    height: 110%;
  }
}
.tag-stars .top__inner {
  &::before {
    background: url("../img/top/stars.png") top 0 right 0 / contain no-repeat;
    top: 2%;
    height: 90%;
    left: 5%;
  }
}
.tag-apk .top__inner {
  &::before {
    background: url("../img/top/apk.png") top 0 right 0 / contain no-repeat;
    bottom: -22%;
    left: 4%;
  }
}

@media (max-width: 1660px) {
  .top__inner {
    min-height: 620px;
  }

  .top__title {
  }

  .top__country {
    justify-content: unset;
    gap: 20px;
  }

  .top .country {
    --flag-size: 55px;
    --flag-padding: 9px;
    --padding: 20px;
    background: var(--black);
    color: var(--white);
    font-size: 22px;
    border-radius: 84px;
  }
}

@media (max-width: 1400px) {
  .top__inner {
    min-height: unset;
    gap: 21px;
    padding: 10px 0 25px;
  }

  .top__title {
    letter-spacing: -3px;
    font-size: clamp(48px, 7.857vw, 110px);
  }

  .top__subtitle {
    font-size: 18px;
  }

  .top__country {
    justify-content: unset;
    gap: 20px;
  }

  .top .country {
    --flag-size: 51px;
    --flag-padding: 21px;
    --padding: 80px;
    max-width: 221px;
    width: 100%;
    font-size: 17px;
  }
}

@media (max-width: 1024px) {
  .category .top {
    background: none;
    color: var(--white);
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      background: #000000a3;
      z-index: -1;
    }

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      background: url("../img/top/tag-bg.png") center / cover no-repeat;
      z-index: -2;
    }
  }
}

@media (max-width: 722px) {
  .tag-business .top__inner {
    &::before {
      background: url("../img/top/business.png") top 20% right 0 / auto 70%
        no-repeat;
    }
  }
  .tag-tourism .top__inner {
    &::before {
      background: url("../img/top/tourism.png") top 0 right 0 / contain
        no-repeat;
      bottom: -15%;
      height: 115%;
    }
  }
  .tag-culture .top__inner {
    &::before {
      background: url(../img/top/culture.png) top 0 right -60% / contain no-repeat;
      bottom: 15%;
      left: 25%;
      rotate: -27deg;
    }
  }
  .tag-science .top__inner {
    &::before {
      rotate: -10deg;
      left: 10%;
      top: 5%;
    }
  }
  .tag-sport .top__inner {
    &::before {
      height: 90%;
      left: 10%;
    }
  }
  .tag-society .top__inner {
    &::before {
      height: 55%;
      top: 0%;
    }
  }
  .tag-edu .top__inner {
    &::before {
      height: 60%;
    }
  }
  .tag-history .top__inner {
    &::before {
      height: 75%;
      bottom: 0;
      left: 2%;
    }
  }
  .tag-stars .top__inner {
    &::before {
      bottom: 0;
      height: 75%;
      top: unset;
    }
  }
  .tag-apk .top__inner {
    &::before {
      height: 70%;
    }
  }
}

@media (max-width: 552px) {
  .top .container {
    padding: 10px 0;
  }

  .top__text {
    padding-left: 10px;
  }

  .top__country {
    justify-content: flex-start;
    padding-left: 10px;
  }

  .top__inner {
    padding: 10px;
  }

  .tag-business .top__inner {
    &::before {
      background: url(../img/top/business.png) top right -45% / 75% auto no-repeat;
      transform: rotate(15deg);
    }
  }
  .tag-tourism .top__inner {
    &::before {
      background: url(../img/top/tourism.png) top 0 right 0 / contain no-repeat;
      height: 100%;
      transform: rotate(-27deg);
      left: 30%;
      top: 10%;
    }
  }
  .tag-culture .top__inner {
    &::before {
      background: url(../img/top/culture.png) top 0 right 0 / contain no-repeat;
      bottom: 0;
      left: 65%;
      transform: rotate(-40deg);
      top: 10%;
    }
  }
  .tag-science .top__inner {
    &::before {
      background: url(../img/top/science.png) top 0 right 0 / contain no-repeat;
      height: 100%;
      transform: rotate(-25deg);
      left: 30%;
      top: 5%;
    }
  }
  .tag-sport .top__inner {
    &::before {
      background: url(../img/top/sport.png) top 0 right 0 / contain no-repeat;
      height: 140%;
      left: 60%;
      top: 5%;
      transform: rotate(-30deg);
    }
  }
  .tag-society .top__inner {
    &::before {
      background: url(../img/top/society.png) top 0 right 0 / contain no-repeat;
      height: 100%;
      left: 65%;
      transform: rotate(-40deg);
      top: 0%;
    }
  }
  .tag-apk .top__inner {
    &::before {
      background: url(../img/top/apk.png) top 0 right 0 / contain no-repeat;
      bottom: -10%;
      left: 59%;
      transform: rotate(-18deg);
    }
  }
  .tag-edu .top__inner {
    &::before {
      background: url(../img/top/edu.png) top 0 right 0 / contain no-repeat;
      height: 40%;
      top: 13%;
      left: 21%;
    }
  }
  .tag-history .top__inner {
    &::before {
      background: url(../img/top/history.png) top 0 right 0 / contain no-repeat;
      height: 50%;
      transform: rotate(-20deg);
      left: 15%;
      top: 8%;
    }
  }
  .tag-stars .top__inner {
    &::before {
      background: url(../img/top/stars.png) top 0 right 0 / contain no-repeat;
      top: 10%;
      height: 50%;
      left: 10%;
      transform: rotate(10deg);
    }
  }
}
